* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
}

:root {
  --azulPrincipal: #0ea5e9;
  --cinza: #d1d5db;
}

body {
  background-color: #3f3f46;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 6fr;
  font-family: "Gill Sans", sans-serif;
  margin-left: 5rem;
  margin-right: 5rem;
  
}

.sidebar {
  grid-column: 1 / 2;
  grid-row:  1/3;
  background-color: var(--azulPrincipal);
  color: white;
  font-weight: bold;
  font-size: 1.563rem;
  padding-left: 0.8rem;
  padding-top: 0.8rem;
}

.sidebar li {
  font-size: 1.25rem;
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
}
.sidebar a {
  color: white;
  display: flex;
  align-items: center;
  border-radius: 0.2rem;

}
.sidebar li a img {
  width: 1.25rem;
  heigth: 1.25rem;
  margin-right: 5px;
}

.dashboardButton {
  margin-bottom: 2rem;
  margin-right: 0.5rem
}

.dashboardButton img {
  width: 2rem;
  heigth: 2rem;
}

.nav {
  grid-row: 1/2;
  background-color: white;
  heigth: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
}

.search {
  gri-row: 1/2;
  grid-column: 1/2;
  display: flex;
  padding: 1rem;
}

.search img {
  width: 1.5rem;
  heigth: 1.5rem;
  margin-right: 5px;
  
}
.search input {
  border-radius: 10px;
  flex: 1;
  max-heigth: 2rem;
  border: none;
  background-color: var(--cinza);
  outline: 0;
  padding-left: 0.5rem;
}

.btnSuperior {
  gri-row: 1/2;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.btnSuperior img {
  width: 1.2rem;
  heigth: 1.2rem;
  margin-right: 1rem;
  border-radius: 50%;
  
}

.btnSuperior > img {
  background-color: var(--azulPrincipal);
}

.avatarName {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  
}

.avatarName img {
  
  width: 3.125rem;
  heigth: 3.125rem;
  border-radius: 50%;
  background-color: var(--azulPrincipal);
  margin-left: 1rem;
  
}

.hello {
  font-weight: bold;
}

.name {
  font-weight: bold;
  font-size: 1.25rem;
}

.btnInferior {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.btnInferior button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color:  var(--azulPrincipal);
  color: white;
  font-weight: bold;
  border: none;
}

.btnInferior button:hover {
  transform: scale(1.1); 
}

.btnInferior button:active {
  background-color: #0284c7;
}

.content {
  grid-row: 2/3;
  background-color: red;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.displayLeft {
  display: flex;
  flex-direction: column;
  background-color: var(--cinza);
  
}

.displayRight {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: var(--cinza);
  gap: 1rem;
  
}

.annoucements {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  padding: 1rem;
}

.contentAnnoucements {
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
}


.treding{
  border: 2px solid;
}

.titulo {
  padding: 1rem 1rem 0 1rem;
  font-weight: bold;
}

.yoursProjects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--cinza);
}

.yoursProjects div {
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  
}

.project {
  display: grid;
  border-left: 0.5rem solid var(--azulPrincipal);
}

.btnProjects ul {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.btnProjects img {
  width: 1.25rem;
  heigth: 1.25rem;
}
.btnProjects img:hover {
  transform: scale(1.2);
}

.nameProject {
  font-weight: bold;
}

a:hover {
  transform: scale(1.1); 
}

a {
  text-decoration: none;
}


li {
  list-style-type: none;
}